<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
      <link rel="stylesheet" href="/stylesheets/bootstrap.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    {{> menubar}}

    <h2> This is the matching page </h2>
    <button id = "chatbox">Click here to chat</button>
</body>
<script src="/javascript/chat.js"></script>

</html>