<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
      <link rel="stylesheet" href="/stylesheets/bootstrap.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">PikaMe</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/users/register">Register</a>
          </li>
          <li>
            <a href="/users/login">Login</a>
         </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
    </div>
  </div>
  
	<div class="main-text hidden-xs">
  	<div class="col-md-12 text-left">
    	<h1 style="font-family: 'Lato'">PikaMe</h1>
    	<p style="font-family: 'Lato'"></p>Raziq is lame but he's cool sometimes i guess. He has great hair.
  	</div>
	</div>

	<div class="containertwo">  
    <h2 class="page-header">Pick your pokemon</h2>
      <p>Please register using the form below</p>
      <form method="post" action="/users/register" enctype='application/x-www-form-urlencoded' class= "formclass">
        <div class="form-group"></div>

      <!--   <label>Pick your egg group</label>
        <input class="form-control" name="name" type="text" placeholder="egg group"/>
        <div class="form-group"></div>

         -->
       <div class="form-group"></div>
          <label for="sel1">Pick your egg group:</label>
            <select id="egggroup">
              <option>Monster</option>
              <option>Water 1</option>
              <option>Bug</option>
              <option>Flying</option>
              <option>Field</option>
              <option>Fairy</option>
              <option>Grass</option>
              <option>Human-Like</option>
              <option>Water 3</option>
              <option>Mineral</option>
              <option>Amorphous</option>
              <option>Water 2</option>
              <option>Ditto</option>
              <option>Dragon</option>
  
            </select>

   <!--      <label>Pick your pokemon </label>
        <input class="form-control" name="email" type="email" placeholder="pokemon"/>
        <div class="form-group"></div> -->
     
      <div class="form-group"></div>
          <label for="sel1">Pick your pokemon:</label>
            <select class="form-control" id="pokemon">
              <option>poke1</option>
              <option>poke2</option>
              <option>poke3</option>
              <option>poke4</option>
            </select>
        <br>
        <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
      </form>
  </div>


</body>

</html>